@import "tailwindcss";

@theme {
  --color-buttonprimary: #3b63fb;
  --color-buttonsecondary: #274dea;
  --color-textprimary: #292929;
  --color-textlight:#535353;
  --color-textsecondary:#2c2c2c;
  --color-textdark:#707070;
  --color-borderprimary: #909090;
  --color-bordersecondary:#eaeaea;
  --color-bgcolorprimary:#fff3e0;
  --color-bgcolorsecondary:#6d6d6d;
  --color-bgcolorcontract:#FAFAFA;
}

:root {
  font-family: 'Adobe Clean', 'adobe-clean', 'Trebuchet MS', sans-serif;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-sizing: content-box;
}


